//Color Pallettes

//Home
$home_bg: #D7FEFE;
$home_txt: #001F45;
//Use these for text effects. $home1 should transition into or with $home2
$home1: #1178AE;
$home2: #48DAF9;

//Projects
$projects_bg: #741717;
$projects_text: #ffe3e3;
$projects1: #f5b0b0;
$projects2: #f85353;

//Fonts
$mct630_brand: 'Montserrat Subrayada', sans-serif;
$home_links: 'Megrim', sans-serif;
$typingtext: 'Quantico', sans-serif;
$nav_text: 'Jost', sans-serif;
